<a href="https://colab.research.google.com/github/subhashchapa/data_science/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3)) #4 rows 3 columns

In [3]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [14]:
myindex=['CA','NY','AZ','TX']

In [6]:
mycolumns=['Jan','Feb','Mar']

In [7]:
df=pd.DataFrame(mydata)

In [9]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [19]:
df1=pd.DataFrame(mydata,myindex,mycolumns)

In [20]:
df1

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [22]:
df1.info()  #info about dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

**In real life we can read data from .csv,.excel,.sql files and we dont make dataframes**

**csv file is comma separated file**

In [26]:
pwd  #where is my python code located

'/content'

In [27]:
ls

sample_data/